
  .chat-item {
    margin-bottom: 12px;
  
    .chat-description {
      font-size: 14px;
      display: flex;
    }
    &.unread {
      .chat-name {
        font-weight: 1000;
      }
  
      .chat-description {
        font-weight: 1000;

      }
  
      .online-status.unread {
        display: block;
      }
    }
  }
  .mr { margin-right: 16px}
.selected {
    z-index: 0;
    border: 0.4px solid #1890ff;
    opacity: 0.8;
}




